<sample-form>
  <form onsubmit={changeTitle}>
    <input type="text" name="newTitle" placeholder="Enter a name">
    <input type="submit" title="Update Title">
  </form>
  <script>

    changeTitle() {
      console.log(this.opts.changetitle);
      this.opts.changetitle(this.newTitle.value)
    }
  </script>

</sample-form>
